apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-controllers
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default
  source:
    repoURL: https://github.com/dokokitsune/homelab-reverse-proxy.git
    targetRevision: main
    path: infrastructure/config
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
